// ==================================================
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
// 5. zIndex
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

//
// Pallets
// --------------------------------------------------

$color_0 = #000
$color_1 = #fff

//
// Brands
// --------------------------------------------------

// --------------------------------------------------
// 2. Spaces
// --------------------------------------------------

$space         = 2rem                 // Regular space margin
$space-xs      = ($space / 4)         // Extra small space margin
$space-sm      = ($space / 2)         // Small space margin
$space-md      = ($space + $space-sm) // Medium space margin
$space-lg      = ($space * 2)         // Large space margin
$space-xlg     = ($space * 4)         // Extra Large space margin

$space-gutter  = $space


// --------------------------------------------------
// 3. Media Queries
// --------------------------------------------------

$screen-xs   = 576px  // Extra small screen / phone
$screen-sm   = 576px  // Small screen / tablet
$screen-md   = 768px  // Medium screen / desktop
$screen-lg   = 992px  // Large screen / wide desktop
$screen-xlg  = 1200px // Extra Large screen / wide desktop

// --------------------------------------------------
// 4. Typography
// --------------------------------------------------

$text-size = 1rem

// --------------------------------------------------
// 5. zIndex
// --------------------------------------------------

$zindex-bg       = -1
$zindex-default  = 1 
$zindex-loading  = 10